# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text
*.txt text

# Scripts
*.sh text eol=lf
*.bat text eol=crlf

# Source code
*.js text
*.jsx text
*.ts text
*.tsx text
*.json text
*.css text
*.html text

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text
